# Git
.git/
.gitignore

# IDE
.idea/
*.iml
.vscode/

# Build artifacts
back/target/
front/dist/
front/node_modules/

# Docker & CI
.github/
docker-compose.yaml
Dockerfile
fly.toml

# Documentation
docs/
*.md
*.MD
*.log

