body {
    background: #213a41;
    color: #fefffa;
}

.App {
    text-align: center;
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

footer {
    display: table-row;
    height: 30px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    word-wrap: break-word;
}

h3 {
    text-transform: uppercase;
}

h5 {
    color: #8299a1;
}

h6 {
    color: #8299a1;
}

.firstWord {
    color: #fefffa;
}

.homeParallax {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}

.blueWord {
    color: #03c8be;
}

.darkBlueContainer {
    background-color: #162834;
    border-radius: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 6px;
}

.teamA {
    color: #07c6b6 !important;
}

.teamB {
    color: #00A4E9 !important;
}

.pick {
    color: #4be64b !important;
}

.ban {
    color: #e64b4b !important;
}

.logo {
    position: relative;
    top: 50%;
    transform: translateY(10%);
}